@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;

  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}
.glitch__main {
  color: #fff;
}
.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}
.glitch__color--red {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: red;
}
.glitch__color--blue {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: blue;
}
.glitch__color--green {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: #00ff0b;
}
.glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #000;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.glitch__line--first {
  animation: glitch-line 2s linear infinite;
}
.glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(8px, 8px);
  }
  80% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(20deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@media (max-width: 768px) {
  .glitch {
    font-size: 6rem;
    font-weight: 900;
  }

}
@media (max-width: 420px) {
  .glitch {
    font-size: 5rem;
    font-weight: 900;
  }

}
@media (max-width: 320px) {
  .glitch {
    font-size: 4rem;
    font-weight: 900;
  }
}